<!--
layout: default
-->

<div class="page-container doc-container">

  <nav class="side-menu">
    <h6 class="title">
      Docs
    </h6>

    <a href="#configuration">
      Configuration
    </a>

    <a href="#methods">
      Methods
    </a>

    <a href="#theming">
      Theming
    </a>

  </nav>

  <div class="page-content api">
    {{{body}}}
  </div>

</div>
