<!--
layout: default
-->

<div class="page-container doc-container">

  <nav class="side-menu">
    <h6 class="title">
      Guides
    </h6>

    <a href="#installation">
      Installation
    </a>

    <a href="#getting-started">
      Getting started
    </a>

    <a href="#advanced-examples">
      Advanced examples
    </a>

    <a href="#using-with-libraries">
      Using with libraries
    </a>

    <a href="#upgrading-from-1x">
      Upgrading from 1.X
    </a>
  </nav>

  <div class="page-content">
    {{{body}}}
  </div>

</div>
