<!doctype html>

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>SweetAlert</title>
    <meta name="description" content="A beautiful replacement for JavaScript's 'alert'" />

    <link rel="stylesheet" href="/assets/css/app.css" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <script src="/assets/sweetalert/sweetalert.min.js"></script>
  </head>

  <body>

    <header class="global-header">
      <div class="page-container">

        <a 
          href="/"
          class="logo">
        </a>

        <nav>
          <ul>
            <li>
              <a href="/guides">Guides</a>
            </li>

            <li>
              <a href="/docs">Docs</a>
            </li>

            <li>
              <a href="https://opencollective.com/SweetAlert#backers" target="_blank">Donate</a>
            </li>

            <li>
              <a 
                href="https://github.com/t4t5/sweetalert" 
                class="github-icon"
              ></a>
            </li>
          </ul>
        </nav>

      </div>
    </header>

    {{{body}}}

    <div id="app"></div>

    <footer>
      <p>
        Hand-crafted with <span class="love-icon"></span> by
        <a href="http://tristanedwards.me">
          Tristan Edwards
        </a>
        + 
        <a href="https://github.com/t4t5/sweetalert/graphs/contributors">
          contributors
        </a>
      </p>
    </footer>

    <script src="/assets/js/index.js"></script>
  </body>

</html>
