// Facebook Theme for SweetAlert
// By Tristan Edwards

.sweet-overlay {  
  border-radius: 3px;
}


.sweet-alert {
  $header-height: 41px;
  $footer-height: 50px;
  $text-color: #131722;
  $fb-focus: 0 0 1px 2px rgba(88, 144, 255, .75), 0 1px 1px rgba(0, 0, 0, .15) !important;
  $padding: 12px;

  font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
  padding: $padding;
  padding-top: $header-height + $padding;
  text-align: right; // Align buttons
  box-shadow: 0px 0px 0px 1px rgba(black, 0.11), 0px 6px 30px rgba(black, 0.14);

  h2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    background-color: #f6f7f8;
    margin: 0;
    font-size: 15px;
    text-align: left;
    padding-left: 12px;
    color: $text-color;
    border-bottom: 1px solid #e5e5e5;
  }

  p {
    display: block;
    text-align: center;
    color: #131722;
    font-weight: 400;
    font-size: 15px;
    margin-top: 7px;
  }

  .sa-button-container {
    border-top: 1px solid #dcdee3;
  }
  &[data-has-confirm-button=false][data-has-cancel-button=false] {
    padding-bottom: 10px;
    .sa-button-container {
      display: none;
    }
  }

  button {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 2px;
    box-shadow: none !important;
    text-shadow: 0px -1px 0px rgba(black, 0.3);
    font-weight: 500;
    margin: 0;
    margin-top: $padding;
    &:focus, &.cancel:focus {
      box-shadow: $fb-focus;
    }

    &.confirm {
      border: 1px solid #3d5586;
      background-color: #47639c !important;
      margin-left: 4px;
    }
    &.cancel {
      color: #4e5664;
      background-color: #fafbfb;
      text-shadow: 0px -1px 0px white;
      border: 1px solid #c5c6c8;
      box-shadow: 0px 1px 1px rgba(black, 0.04) !important;
      font-weight: 600;
      &:hover {
        background-color: #fafbfb;
      }
    }
  }

  .sa-icon:not(.sa-custom) {
    transform: scale(0.7);
    margin-bottom: -10px;
    margin-top: -10px;
  }

  input {
    border: 1px solid #bdc7d8;
    padding: 3px;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
    height: 33px;
    margin: 10px 0;
    &:focus {
      box-shadow: $fb-focus;
    }
  }

  fieldset .sa-input-error {
    display: none;
  }

  .sa-error-container {
    text-align: center;
    background-color: #fdebe8;
    margin: 0;
    border: none;
    &.show {
      margin: 14px;
      margin-top: 0;
      border: 1px solid #d5512d;
    }

    .icon {
      display: none;
    }
    p {
      color: #303b44;
      margin-top: 3px;
    }
  }
}


// Animations

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@include keyframes(animateErrorIcon) {
  0%    { transform: rotateX(100deg), scale(0.5); -webkit-transform: rotateX(100deg), scale(0.5); opacity: 0; }
  100%  { transform: rotateX(0deg),   scale(0.5); -webkit-transform: rotateX(0deg),   scale(0.5); opacity: 1; }
}