:root {
  --swal-btn-confirm: #8CD4F5;
  --swal-btn-confirm-hover: color(var(--swal-btn-confirm) shade(3%));
  --swal-btn-confirm-active: color(var(--swal-btn-confirm) shade(10%));

  --swal-btn-cancel: #C1C1C1;
  --swal-btn-cancel-hover: color(var(--swal-btn-cancel) shade(3%));
  --swal-btn-cancel-active: color(var(--swal-btn-cancel) shade(10%));
}

.swal-buttons {
  margin-top: 37px;
  margin-bottom: -18px;
}

.swal-button-container {
  margin: 0 7px;
  display: inline-block;
}

.swal-button {
  background-color: var(--swal-btn-confirm);
  color: white;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 0;
  cursor: pointer;
  &:hover {
    background-color: var(--swal-btn-confirm-hover);
  }
  &:active {
    background-color: var(--swal-btn-confirm-active);
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  }

  &--cancel {
    background-color: var(--swal-btn-cancel);
    &:hover {
      background-color: var(--swal-btn-cancel-hover);
    }
    &:active {
      background-color: var(--swal-btn-cancel-active);
    }
  }

}
