@import './icons/error';
@import './icons/warning';
@import './icons/success';
@import './icons/info';

.sa-icon {
  width: 80px;
  height: 80px;
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
  margin: 20px auto;
  margin-top: 0;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}


