@import './icons/error';
@import './icons/warning';
@import './icons/success';
@import './icons/info';

.swal-icon {
  width: 80px;
  height: 80px;
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
  padding: 0;
  position: relative;
  box-sizing: content-box;
  margin: 20px auto;
  &:first-child {
    margin-top: 32px;
  }

  &--custom {
    width: auto;
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
  }

  & img {
    max-width: 100%;
    max-height: 100%;
  }
}


