<!--
layout: default
-->

<div class="page-container doc-container">

  <nav class="side-menu">
    <h6 class="title">
      Guides
    </h6>

    <a href="#installation">
      Installation
    </a>

    <a href="#getting-started">
      Getting started
    </a>
  </nav>

  <div class="page-content">
    {{{body}}}
  </div>

</div>
