@import './css/icons';
@import './css/buttons';

:root {
  --swal-modal-width: 478px;
  --swal-centering: translateX(-50%) translateY(-50%);
}

.sweet-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.sweet-alert {
  width: var(--swal-modal-width);
  padding: 17px;
  opacity: 0;
  pointer-events: none;
  background-color: white;
  text-align: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: scale(0.5) var(--swal-centering);
  transform-origin: 0% 0%;
  z-index: 10001;
  transition: transform 0.3s, opacity 0.2s;

  &--show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) var(--swal-centering);
    animation: showSweetAlert 0.3s;

    & ~ .sweet-overlay {
      opacity: 1; 
      pointer-events: auto;
    }
  }

  &__title {
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
    display: block;
  }

  &__text {
    color: #797979;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    position: relative;
    text-align: inherit;
    float: none;
    margin: 0;
    padding: 0;
    line-height: normal;
  }
}

@keyframes showSweetAlert {
  0% {
    transform: scale(0.7) var(--swal-centering);
  }

  45% {
    transform: scale(1.05) var(--swal-centering);
  }

  80% {
    transform: scale(0.95) var(--swal-centering);
  }

  100% {
    transform: scale(1) var(--swal-centering);
  }
}
