@import './css/icons';
@import './css/buttons';

:root {
  --swal-modal-width: 478px;
  --swal-centering: translateX(-50%) translateY(-50%);
}

.sweet-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.sweet-alert {
  width: var(--swal-modal-width);
  opacity: 0;
  pointer-events: none;
  background-color: white;
  text-align: center;
  border-radius: 5px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: scale(0.5) var(--swal-centering);
  transform-origin: 0% 0%;
  z-index: 10001;
  transition: transform 0.3s, opacity 0.2s;

  &--show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) var(--swal-centering);
    animation: showSweetAlert 0.3s;

    & ~ .sweet-overlay {
      opacity: 1; 
      pointer-events: auto;
    }
  }

  &__title {
    color: #575757;
    font-weight: 600;
    text-transform: none;
    position: relative;
    display: block;
    padding: 13px 16px;
    font-size: 27px;
    line-height: normal;
    text-align: center;
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.15);*/
    margin-bottom: 13px;
    &:not(:first-child) {
      padding-bottom: 0;
      margin-bottom: 0px;
    }
  }

  &__text {
    font-size: 16px;
    position: relative;
    float: none;
    line-height: normal;
    vertical-align: top;
    text-align: left;
    padding: 0;
    display: inline-block;
    margin: 20px 28px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.64);
  }
}

@keyframes showSweetAlert {
  0% {
    transform: scale(0.7) var(--swal-centering);
  }

  45% {
    transform: scale(1.05) var(--swal-centering);
  }

  80% {
    transform: scale(0.95) var(--swal-centering);
  }

  100% {
    transform: scale(1) var(--swal-centering);
  }
}
